.App {
  max-width: 2000px;
  min-width: 300px;
  width: 100%;
  box-sizing: border-box;

  .wrapperTwo {
    max-width: 1060px;
    min-width: 300px;
    margin: 0 auto;
  }

  .footer {
    background: #0E1D28;
  }
}